<h2><%= @delivery.course.title %></h2>

<% form_tag '/courses/deliveries/file_upload', method: :post, multipart: true do %>
  <%= hidden_field_tag :id, value: @delivery.id %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Submit' %>
<% end %>

<div>
  <% if @delivery.students.any? %>
    Students:
    <ul><% @delivery.students.each do |student| %>
      <li><%= [student.full_name, ''].join(' ') %></li>
    <% end %>
  <% end %></ul>
</div>